html,
body {
    padding-top: 35px;
    height: 100%;
    width: 100%;
    background-color: lightgreen;
    color: blue;
    font-size: 40px;
}

p{
  color: darkgreen;
}

button{
  height: 100px;
  width: 250px;
  font-size: 40px;
  background-color: black;
  color: gold;
}

input{
  height: 60px;
  font-size: 50px;
  color: darkblue;
}